<%= form_with(model: taxon) do |form| %>
<% if taxon.errors.any? %>

<div id="error_explanation">
    <h2><%= pluralize(taxon.errors.count, "error") %> prohibited this taxon from being saved:</h2>

    <ul>
        <% taxon.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>

<% end %>

<%= form.collection_select :parent_id,
                           Taxon.not_descendants_of(taxon),
                           :id,
                           :full_name,
                           {prompt: true, include_blank: '<< At top >>'} %>

<%= form.text_field :name %>
<%= form.text_area :extended_info %>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>