<h1>Organizations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @organizations.each do |organization| %>
        <tr>
            <td><%= organization.full_name %></td>

            <td>
                <%= link_to icon('eye'), organization %>
                <%= link_to icon('pen'), edit_organization_path(organization) %>
                <%= link_to icon('trash'), organization, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>